<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <section>
        <h1>This is the Edit Page!</h1>
        <section>
            <ul>
                <% itemList.forEach(item => { %>
                    <% if (item._id == idItem) { %>
                    <li>
                        <form  action="/edit/update/<%= item._id%>" method="POST">
                            <label for="nameinput">Input Text</label>
                            <input type="text" name="nameinput" value="<%= item.nameinput %>">
                            <br>
                            <label for="addressinput">Input Address</label>
                            <input type="text" name="addressinput" value="<%= item.addressinput %>">
                            <br>
                            <label for="numinput">Input Number</label>
                            <input type="text" name="numinput" value="<%= item.numinput %>">
                            <br>
                            <span class="text-orange-700">In Stock?</span><br>
                            <input type="radio" id="yes" name="instock" value="Yes">
                            <label for="yes">Yes</label><br>
                            <input type="radio" id="no" name="instock" value="No">
                            <label for="no">No</label><br>
                            <button type="submit">Confirm</button>
                            <a href="/">Cancel</a>
                        </form>
                    </li>
                    <% } else { %>
                    <li>
                        <div><%= item.nameinput %></div>
                        <div><%= item.addressinput %></div>
                        <div><%= item.numinput %></div>
                        <div><span>In Stock?</span><%= item.instock %></div>
                        <div><span>Last Updated:</span><%= item.date.toLocaleString() %></div>
                        <a href="/edit/<%= item._id %>">Edit</a>
                        <a href="/edit/remove/<%= item._id %>">Remove</a>
                    </li>
                    <% } %>
                <% }) %>
            </ul>
        </section>
    </section>
</body>
</html>