<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <header>
        <div class="flex justify-center">
            <img src="/assets/dwma_logo.png" alt="">
            </div>
    </header>
    <section>
        <section>
            <ul>
                <div class="flex justify-center items-center">
                <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-5 grid-cols-1">
                <% itemList.forEach(item => { %>
                    <% if (item._id == idItem) { %>
                    <li>
                        <div class="card w-96 bg-base-100 shadow-xl">
                        <div class="card-body">
                        <form  action="/edit/update/<%= item._id%>" method="POST">
                            <label for="nameinput">Pharmacy Name</label>
                            <input class="input input-bordered input-primary input-sm m-1 text-secondary-focus" type="text" name="nameinput" value="<%= item.nameinput %>">
                            <br>
                            <label for="addressinput">Address</label>
                            <input class="input input-bordered input-primary input-sm m-1 text-secondary-focus" type="text" name="addressinput" value="<%= item.addressinput %>">
                            <br>
                            <label for="numinput">Phone Number</label>
                            <input class="input input-bordered input-primary input-sm mb-2 text-secondary-focus" type="text" name="numinput" value="<%= item.numinput %>">
                            <br>
                            <span class="text-secondary-focus font-bold pr-5">In Stock?</span>
                            <input type="radio" id="yes" name="instock" value="Yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="instock" value="No">
                            <label for="no">No</label>
                            <div class="card-actions justify-end mt-2">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <a href="/" class="btn btn-primary">Cancel</a>
                        </div>
                        </form>
                    </div>
                    </div>
                    </li>
                    <% } else { %>
                    <li>
                        <div class="card w-96 bg-base-100 shadow-xl">
                        <div class="card-body">
                        <div class="card-title"><%= item.nameinput %></div>
                        <div><%= item.addressinput %></div>
                        <div><%= item.numinput %></div>
                        <div><span class="text-secondary-focus font-bold pr-5">In Stock?</span><%= item.instock %></div>
                        <div><span class="text-secondary-focus font-bold pr-3">Last Updated:</span><%= item.date.toLocaleString() %></div>
                        <div class="card-actions justify-end">
                        <a href="/edit/<%= item._id %>" class="btn btn-secondary">Update</a>
                        <a href="/edit/remove/<%= item._id %>" class="btn btn-secondary">Delete</a>
                    </div>
                    </div>
                    </div>
                    </li>
                    <% } %>
                <% }) %>
                </div>
                </div>
            </ul>
        </section>
    </section>
</body>
</html>