<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <h1>This is the homepage</h1>
    <form action="/new" method="POST">
        <label for="nameinput">Pharmacy Name</label>
        <input class="input input-bordered input-primary input-md w-full max-w-xs" type="text" name="nameinput">
        <br>
        <label for="addressinput">Pharmacy Address</label>
        <input class="input input-bordered input-primary input-md w-full max-w-xs" type="text" name="addressinput">
        <br>
        <label for="numinput">Phone Number</label>
        <input class="input input-bordered input-primary input-md w-full max-w-xs" type="text" name="numinput">
        <br>
        <span>In Stock?</span><br>
        <input class="radio radio-primary" type="radio" id="yes" name="instock" value="Yes">
        <label for="yes">Yes</label><br>
        <input class="radio radio-primary" type="radio" id="no" name="instock" value="No">
        <label for="no">No</label><br>
        <button class="btn btn-wide" type="submit">Add</button>
    </form>
    <ul>
       <% itemList.forEach(item => { %>
        <li>
             <div><%= item.nameinput %></div>
             <div><%= item.addressinput %></div>
             <div><%= item.numinput %></div>
             <div><span>In Stock?</span><%= item.instock %></div>
             <div><span>Last Updated:</span><%= item.date.toLocaleString() %></div>
             <a href="/edit/<%= item._id %>">Edit</a>
             <a href="/edit/remove/<%= item._id %>">Remove</a>
        </li>
    <% }) %>
    </ul>
</body>
</html>