<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DWMA</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    
  <header>
    <div class="flex justify-center">
        <img src="/assets/dwma_logo.png" alt="">
        </div>
  </header>

   <div class="hero md:h-screen/2 bg-base-200">
        <div class="hero-content text-center">
          <div class="max-w-3xl">
            <h1 class="text-5xl font-bold text-secondary-focus">Hello There!</h1>
            <p class="py-6 text-xl">We are a community-driven platform that aims to help you find pharmacies with Adderall in stock. By sharing your experiences and insights, you can help fellow users save time and avoid frustration. Our site aggregates information from users and provides real-time updates on which pharmacies have Adderall in stock. Join us today and let's make the search for Adderall a little easier! </p>
          </div>
        </div>
      </div> 

  
    <ul>
        <div class="flex justify-center items-center my-6">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-5 grid-cols-1 my-6">
       <% itemList.forEach(item => { %>
        <li>
            <div class="card w-96 bg-base-100 shadow-xl">
                 <div class="card-body">
                    <div class="card-title"><%= item.nameinput %></div>
                    <div><%= item.addressinput %></div>
                    <div><%= item.numinput %></div>
                    <div><span class="text-secondary-focus font-bold pr-5">In Stock?</span><%= item.instock %></div>
                    <div><span class='text-secondary-focus font-bold pr-3'>Last Updated:</span><%= item.date.toLocaleString() %></div>
                    <div class="card-actions justify-end">
                    <a href="/edit/<%= item._id %>" class="btn btn-secondary">Update</a>
                    <a href="/edit/remove/<%= item._id %>" class="btn btn-secondary">Delete</a>
                    </div>
                 </div>
             </div>
        </li>
    <% }) %>
    </div>
    </div>
    </ul>

    <div class="hero h-screen/2" style="background-image: url('/assets/pexels-tara-winstead-7723334.jpg');">
      <div class="hero-overlay bg-opacity-40"></div>
      <div class="hero-content text-center">
        <div class="max-w-3xl">
          <h1 class="text-5xl font-bold text-base-100">Know Something We Don't?</h1>
          <p class="py-6 text-2xl text-base-100">If you have information about a pharmacy's current stock, please share it below. Your contribution will help others save time and avoid frustration in their search for Adderall. Thank you for being a part of our community! </p>
        </div>
      </div>
      </div>
    </div>

    <div class="flex justify-center my-6">
        <form action="/new" method="POST">
            <label for="nameinput">Pharmacy Name</label>
            <input class="input input-bordered input-primary input-md w-full max-w-xs mt-1 mb-3" type="text" name="nameinput">
            <br>
            <label for="addressinput">Pharmacy Address</label>
            <input class="input input-bordered input-primary input-md w-full max-w-xs mt-1 mb-3" type="text" name="addressinput">
            <br>
            <label for="numinput">Phone Number</label>
            <input class="input input-bordered input-primary input-md w-full max-w-xs mt-1 mb-3" type="text" name="numinput">
            <br>
            <span>In Stock?</span><br>
            <input class="radio radio-primary" type="radio" id="yes" name="instock" value="Yes">
            <label for="yes">Yes</label><br>
            <input class="radio radio-primary" type="radio" id="no" name="instock" value="No">
            <label for="no">No</label><br>
            <button class="btn btn-wide m-4" type="submit">Add</button>
        </form>
        </div>
</body>
</html>





